* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header_hero {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px 5%;
    justify-content: space-between;
    width: 100%;
}

.zag_hero {
    text-align: left;
    margin: 0;
    font-size: 28px;
}

.text_hero h2 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
}

.nav_hero {
    display: flex;
    align-items: center;
    gap: 30px;
}

.sal_hero {
    display: flex;
    gap: 25px;
}

.sal_hero a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
    padding: 5px 10px;
}

.sal_hero a:hover {
    color: #ccc;
}

.button_hero {
    padding: 10px 25px;
    font-size: 16px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button_hero:hover {
    background-color: #777;
}

.hero_images {
    display: flex;
    width: 100%;
}

.pic_hero_one, .pic_hero_two {
    flex: 1;
    margin: 0;
}

.pic_hero_one img, .pic_hero_two img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.pictures {
    background-color: gray;
    padding: 80px 5%;
    display: flex;
    gap: 40px;
}

.left {
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.Zag {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: left;
}

.left_text {
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
}

.right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.img_right1, .img_right2, .img_right3, .img_right4 {
    width: calc(50% - 10px);
    height: 50%;
}

.img_right1 img, .img_right2 img, .img_right3 img, .img_right4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
}

section:nth-child(3) > div {
    display: flex;
    padding: 80px 5%;
    gap: 40px;
}

.img_bio {
    width: 60%; 
}

.img_bio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.text_bio {
    width: 40%; 
    display: flex;
    flex-direction: column;
    padding: 30px; 
}

.text_bio h2 {
    font-size: 36px;
    margin-bottom: 20px; 
    text-align: left;
    color: white;
}

.text_bio h {
    text-align: left;
    font-size: 18px; 
    line-height: 1.4;
    color: white; 
}
.bio{
    background-color: gray;
}
.podval{
    background-color: #555;
    padding: 10px;
    text-align:center;
    color: white;
}